<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://127.0.0.1\SQLEXPRESS:1433;database=QuanLiDT;</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">icui4cu</property>
        <property name="packagesToScan">com.giap.shopoline.models</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="com/giap/shopoline/models/SysdiagramsEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.SysdiagramsEntity"/>
        <mapping class="com.giap.shopoline.models.TblAlbumAnhEntity"/>
        <mapping resource="com/giap/shopoline/models/TblAlbumAnhEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblAnhEntity"/>
        <mapping resource="com/giap/shopoline/models/TblAnhEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblBinhluanEntity"/>
        <mapping resource="com/giap/shopoline/models/TblBinhluanEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblChitietdonhangEntity"/>
        <mapping resource="com/giap/shopoline/models/TblChitietdonhangEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblDanhmucEntity"/>
        <mapping resource="com/giap/shopoline/models/TblDanhmucEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblDondathangEntity"/>
        <mapping resource="com/giap/shopoline/models/TblDondathangEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblKhachhangEntity"/>
        <mapping resource="com/giap/shopoline/models/TblKhachhangEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblNhanvienEntity"/>
        <mapping resource="com/giap/shopoline/models/TblNhanvienEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblNhasanxuatEntity"/>
        <mapping resource="com/giap/shopoline/models/TblNhasanxuatEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblQuyenEntity"/>
        <mapping resource="com/giap/shopoline/models/TblQuyenEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblSanphamEntity"/>
        <mapping resource="com/giap/shopoline/models/TblSanphamEntity.hbm.xml"/>
        <mapping class="com.giap.shopoline.models.TblTaikhoanEntity"/>
        <mapping resource="com/giap/shopoline/models/TblTaikhoanEntity.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>